a
{
 padding-top: 10px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px
}
b
{
 padding-top: 4px;
 padding-right: 5px;
 padding-bottom: 4px;
 padding-left: 5px
}
c
{
 padding-top: 1px;
 padding-right: 2px;
 padding-bottom: 3px;
 padding-left: 2px
}
